@use "var" as *;

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.like-button {
  background-color: $color-bg;
  color: $color-text;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 8px;

  &:hover {
    background-color: $color-a2;
    color: $color-bg;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-color: $color-bg;
      mask-image: url("/img/icon/like.svg");
      mask-size: cover;
      
    }
  }
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: $color-text;
    mask-image: url("/img/icon/like.svg");
    mask-size: cover;
    
  }

  
  
}